*~
ido.last
elpa/*
eshell/*
themes/*
**/.python-environments
network-security.data
snippets/*
srecode-map.el
**/url
**/auto-save-list
meghanada/*
ac-comphist.dat
**/elpy

# Git message template
.gitmessage