ac-js2
anaconda-mode
better-defaults
column-marker
conda
darcula-theme
ein
elpy
emmet-mode
exec-path-from-shell
flycheck-julia
flyspell-correct
impatient-mode
indent-guide
jedi-direx
json-mode
julia-mode
magithub
markdown-toc
matlab-mode
multi-term
pandoc-mode
pdf-tools
projectile
protobuf-mode
py-autopep8
rainbow-mode
web-mode
